name: CI Pipeline

on:
  push:
    branches:
      - master
      - '*-layer'
      - '*-layer-feat'
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build Maven project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Java 21 (Temurin)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build project
        run: mvn -B clean package -DskipTests

      - name: Upload built JAR
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar


  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: testpass
          MYSQL_DATABASE: user_service
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -p$MYSQL_ROOT_PASSWORD"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Download built JAR
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      - name: Run Tests
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/user_service
          SPRING_DATASOURCE_USERNAME: root
          SPRING_DATASOURCE_PASSWORD: testpass
          SPRING_REDIS_HOST: localhost
          SPRING_REDIS_PORT: 6379
        run: mvn test

